@model IEnumerable<MyTunes.Models.MediaType>

@{
    ViewBag.Title = "Media Types";
}

<h2>Media Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Media Category Name", "Index", new { sortOrder = ViewBag.MediaSortParm })
        </th>

        <th>
            @Html.ActionLink("Media Type", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MediaCategory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaTypeId })
        </td>
    </tr>
}

</table>
