@model MyTunes.Models.MediaCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MediaCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaTypes)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Media Type List of Associated Media Category</th>

                </tr>
                @foreach (var item in ViewBag.MediaTypebyCategory)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MediaCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
