<%= form_for @api_key, :html => {:class => "form-horizontal center"} do |f| %>


  <% if @api_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_key.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @api_key.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :UserName, class: "col-md-4 control-label" %>
    <div class="col-md-8">
    <%= f.text_field :username , class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Token, class:"col-md-4 control-label" %>
    <div class="col-md-8">
    <%= f.text_field :access_token , class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
